body {
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.24" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
  background-color: black;
  text-align: center;
  font-family: Heebo
}
h1 {
  color: white;
  font-size: 35px;
}  
h2 {
  color: white;
  font-size: 18px;
}

h3 {
  color: white;
}
p {
  color: white;
  font-size: 13px;
}
h4 {
  color: white;
}
span {
  font-size: 10px;
}
